:root {
  --index: calc(1vw + 1vh);
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  position: relative;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  transform-style: preserve-3d;
  transition: transform 0.2s ease-out;
  will-change: transform;
}

.layer {
  position: absolute;
  inset: -6vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100%;
  transform: translateZ(-55px) scale(1.08);
  background: url('images/bg-layer-1.jpg') no-repeat 0 100%;
  background-size: cover;
}

.coral_1 {
  width: calc(var(--index) * 22);
  height: calc(var(--index) * 22);
  position: absolute;
  left: -10px;
  bottom: -10px;
  background-image: url('images/coral-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateZ(100px) scale(1.15);
}

.coral_2 {
  width: calc(var(--index) * 13);
  height: calc(var(--index) * 21.7);
  right: 0;
  bottom: 0;
  background-image: url('images/coral-2.png');
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateZ(100px);
}

.coral_3 {
  width: calc(var(--index) * 15);
  height: calc(var(--index) * 15);
  position: absolute;
  bottom: -60px;
  left: 35vw;
  background-image: url('images/coral-3.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateZ(50px);
}

.form {
  width: 280px;
  padding: 20px 25px 25px;
  border-radius: 20px;
  background: rgb(255, 255, 255, 0.7);
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title {
  margin: 0 0 20px;
  text-align: center;
  font: 24px/1.2 Orbitron, Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  color: #077888;
  text-transform: uppercase;
}

.input {
  width: 100%;
  padding: 8px 10px;
  margin: 0 0 15px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #077888;
  color: #fff;
  transition: background-color 0.3s linear;
  font: 14px/20px Arial, Helvetica, sans-serif;
}

.input:focus {
  outline: none;
  background-color: #035763;
}

.footer {
  display: flex;
  gap: 15px;
}

.btn {
  flex-grow: 1;
  background-color: #e27e0d;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font: 14px/36px 'Press Start 2P', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  transition: background-color 0.3s linear;
}

.btn:hover,
.btn:focus {
  background-color: #c66e0a;
  outline: none;
}

.message:empty {
  display: none;
}
