body {
  margin: 0;
}

.bubble {
  width: calc(var(--index) * 2.5);
  height: calc(var(--index) * 2.5);
  position: absolute;
  top: 100%;
  left: 0;
  background: url('../public/images/bg-bubble.png');
  background-size: 100%;
  opacity: 0.6;
}
